<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>欢迎您!</title>
	<link rel="stylesheet" href="/resources/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/resources/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="http://localhost:8080/resources/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
	
	<script src="/resources/js/common.js"></script>
</head>

<body>
<div class="container showgrid" style="border:1px solid #000;">
	<div class="span-24 last" >
		<h2>cc project</h2><p>web演示</p>
		<hr>
	</div>
	$screen_content

	<div class="span-24 last" style="height:35px;">
		<hr>
		<p>@2012 GitHub Inc. All rights reserved.</p>
	</div>
</div>
</body>
</html>