#*
 * 生成翻页链接
 * 作者: Winter Lau
 *#
#macro(pager $page)
#if($page.totalResult > $page.size)
    #set($PAGE_COUNT = $page.totalPage)
    #set($p = $link.getPage($uri))
	#if($p <= $PAGE_COUNT)
        #set($pre_page = $p - 1)
        #set($next_page = $p + 1)
    	#if($p > 3)
        	#set($begin_idx = $p - 3)
    	#else
    		#set($begin_idx = 1)
    	#end	
        #set($end_idx = $begin_idx + 9)
        #if($end_idx > $PAGE_COUNT)#set($end_idx = $PAGE_COUNT)#end
        <ul class="pager">
            #if($p > 1)<li class='page prev'><a href="$link.getPageLink($uri,$pre_page)">&lt;</a></li>#end#if($begin_idx > 1)<li class='page'><a href="$link.getPageLink($uri,1)">1</a></li>#end#foreach($idx in [$begin_idx..$end_idx])#if($idx != $p)<li class='page'><a href="$link.getPageLink($uri,$idx)">$idx</a></li>#else<li class='page current'><a href="$link.getPageLink($uri,$idx)">$idx</a></li>#end#end#if($end_idx < $PAGE_COUNT)<li class='page'><a href="$link.getPageLink($uri,$PAGE_COUNT)">$PAGE_COUNT</a></li>#end#if($p < $PAGE_COUNT)<li class='page next'><a href="$link.getPageLink($uri,$next_page)">&gt;</a></li>#end
        </ul>
	#end
#end
#end